.chart {
    fill: rgba(0, 0, 0, 0.851);
    font-size: 15px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.chart .blip:hover {
    cursor: pointer;
}

.chart .tooltip {
    padding: 20px 20px;
    font-size:20px;
    border-radius: 11px;
    font-weight: 600;
    font-family: "DIN";

}

.chart .ring-label {
    text-transform: uppercase;
}