@font-face {
    font-family: "DIN";
    src: url("fonts/Univers-Condensed-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/Univers-BQ-Regular.otf");
    font-weight: 400;
}